{% extends 'dashboard_layout_new.html' %}
{{ super() }}
{% block body %}



<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <div class="card-header">Create New Campaign</div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <form class="form" name="campaign_form" id="campaign_form" method="POST" action="saveCampaign" enctype="multipart/form-data">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 col-md-6" >
                                    <div class="row">
                                        <div class="col-sm-4"><label for="campaign_name">Campaign Name:</label><input  id="campaign_name" type="text" class="form-control" name="campaign_name" required></div>
                                        <div class="col-sm-4"><label for="from_date">From:</label><input  id="from_date" type="date" class="form-control" name="from_date" required></div>
                                        <div class="col-sm-4"><label for="to_date">To:</label><input  id="to_date" type="date" class="form-control" name="to_date" required></div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <select class="form-control" name="currency" id="currency">
                                                <option value="USD">USD</option>
                                                <option value="EUR">EUR</option>
                                                <option value="GBP">GBP</option>
                                                <option value="INR">INR</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-5">
                                            <span class="text-bold-500 primary"><input type="number" class="form-control" name="budget" placeholder="Budget" required>
                                            </span>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="text-bold-500 primary">
                                                <div class="form-group">
                                                    <!--<label for="channels">Channels</label>-->
                                                    <select class="form-control" id="channels" name="channels" multiple="multiple" required>
                                                        <option value="" disabled>Channels</option>
                                                        <option value="youtube">Youtube</option>
                                                        <option value="twitter">Twitter</option>
                                                        <option value="instagram">Instagram</option>
                                                        <option value="facebook">Facebook</option>
                                                    </select>
                                                </div>
                                            </span>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <span class="text-bold-500 primary">
                                                <div class="form-group">
                                                    <label for="country" class="text-bold-500 primary">Country</label>
                                                    <select class="form-control" name="country" id="country" multiple required>
                                                        {% for item in regionCodes['data'] %}
                                                        <option value="{{ item['region_code'] }}">{{ item['country_name'] }}</option>
                                                        {% endfor %}
                                                     </select>
                                                </div>
                                            </span>
                                        </div>
                                        <div class="col-sm-8">
                                            <span class="text-bold-500 primary">
                                                <div class="form-field col s7">
                                                    <div class="form-group">
                                                      <p>
                                                        <label>Followers range:</label>
                                                      </p>
                                                      <div id="add_campaign_followers_slider" style="height:10px; width: 190px; border-radius: 55px;" ></div>
                                                    </div>
                                                    <div class="float-left">Min Followers : </div>
                                                    <div id="lower-value" ></div>
                                                    <div class="float-left">Max Followers : </div>
                                                    <div id="upper-value"></div>
                                                    <input type="hidden" name="min_lower" value="" id="min_lower">
                                                    <input type="hidden" name="max_upper" value="" id="max_upper">
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                    <span class="text-bold-500 primary">
                                        <div class="form-group">
                                            <label for="videoCategories">Categories</label>
                                            <select class="form-control" name="video_cat" required>
                                                {% for item in videoCategories['data'] %}
                                                <option value="{{ item['video_cat_id'] }}">{{ item['video_cat_name'] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </span>
                                    <span class="text-bold-500 primary"> <input type="url" class="form-control" name="target_url" placeholder="Target URL" required></span><br>
                                    <span>
                                        <input  type="file" name="campaign_files" id="campaign_files1" class="campaign_files" required>
                                    </span><br class="displayFiles">
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <label for="campaign_name">Description:</label><textarea class="form-control" rows="9" id="descritpion" name="campaign_description" required></textarea>
                                    <br>
                                    <span class="text-bold-500 primary">
                                        <select multiple id="arrangements" name="arrangements" class="form-control" required>
                                            <option value="" disabled>Arrangements / Content Type</option>
                                            <option value="Review">Review</option>
                                            <option value="Unboxing / Gameplay">Unboxing / Gameplay</option>
                                            <option value="Shout out/Mention">Shout out/Mention</option>
                                            <option value="giveaway">giveaway</option>
                                            <option value='Video Intro/Outro'>video Intro/Outro</option>
                                            <option value="Tutorial">Tutorial</option>
                                            <option value="Banner placement / URL placement">Banner placement / URL placement</option>
                                            <option value="Sponsorship">Sponsorship</option>
                                            <option value="Other (Explain in description)">Other (Explain in description)</option>
                                        </select>
                                    </span>
                                    <br>
                                    <span class="text-bold-500 primary">
                                        <select name="kpis" id="kpis" class="form-control" multiple required>
                                            <option disabled>KPIs</option>
                                            <option value="No of Clicks">No of Clicks</option>
                                            <option value="New Users">New Users</option>
                                            <option value="Revenue Generated">Revenue Generated</option>
                                        </select>
                                    </span><br>
                                    <span>
                                        <input type="checkbox" class="form-check-input" id="classifiedAds" name="is_classified_post">
                                        <label class="form-check-label" for="classifiedAds">Post as Classified Ads</label>
                                    </span>
                                </div>
                            </div>
                            <button type="submit" id="savecampaign" class="btn btn-success"  style="margin-left: 45%">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$( document ).ready(function() {

        // range slider starts
        var nonLinearSlider = document.getElementById('add_campaign_followers_slider');
        noUiSlider.create(nonLinearSlider, {
	        connect: true,
	        behaviour: 'tap',
            start: [0,10000000],

	        behaviour: 'tap-drag',
	        tooltips: false,

	        range: {
		    // Starting at 500, step the value by 500,
		    // until 4000 is reached. From there, step by 1000.
		    'min': [ 0 ],
		    <!--'10%': [ 500, 500 ],-->
		    <!--'50%': [ 4000, 1000 ],-->
		    'max': [ 1000000 ]
	        },
	        format: {
                from: function(value) {
                    return parseInt(value);
                },
            to: function(value) {
                return parseInt(value);
                }
            }

        });
        var nodes = [
	        document.getElementById('lower-value'), // 0
	        document.getElementById('upper-value')  // 1
        ];
        // Display the slider value and how far the handle moved
        // from the left edge of the slider.
        nonLinearSlider.noUiSlider.on('update', function ( values, handle, unencoded, isTap, positions ) {
	        nodes[handle].innerHTML = values[handle];
        });
        // range slider ends

        //campaign save button click event
        $("#savecampaign").click(function(){
             var min_lower = $("#lower-value").text();
             var max_upper = $("#upper-value").text();
             <!--alert(min_lower);-->
             <!--alert(max_upper);-->
             $("#min_lower").val(min_lower);
             $("#max_upper").val(max_upper);
         });
         // search button click event ends

         //campaign_files preview start

        $(document).on('change', 'input:file',function(){
            <!--alert('i m here');-->
            readURL(this);
            $(this).hide();
            $(".displayFiles").before('<input type = "file" name="campaign_files">');

        });
        //campaign_files preview end
         function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                $(".displayFiles").after('<img id="filePreview" src="static/app-assets/img/portrait/avatars/avatar-08.png" class=" img-border gradient-summer width-50" alt="Card image">');
                $('#filePreview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

});
</script>
{% endblock %}