{% extends 'dashboard_layout_new.html' %}
{{ super() }}
{% block body %}


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div>
                        <ul class="tabrow">
                            <li >All Campaigns</li>
                            <li>New Campaign</li>
                            <li class="selected" >Calendar View</li>
                        </ul>
                    </div>
                    <hr>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=uhkka37t2ainhksfqa6isfndes%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=Asia%2FCalcutta" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
    <style>
        div.scroll {
            height: 150px;
            width: 150px;
            overflow-y: auto;
        }
        .tabrow {

            list-style: none;
            margin: 0;
            padding: 0;
            line-height: 24px;
        }
        .tabrow li {
            padding: 0 10px;
            border: 1px solid #AAA;
            background: #ECECEC;
            display: inline-block;
        }
    </style>
    {% endblock %}