<div data-active-color="black" data-background-color="white" data-image="" class="app-sidebar">
    <!-- main menu header-->
    <!-- Sidebar Header starts-->
    <div class="sidebar-header">
        <div class="logo clearfix"><a href="/admin" class="logo-text float-left">
            <div class="logo-img"><img src="{{ url_for('static', filename='img/logo1.png') }}" height="40" width="47" style="padding-right: 15px"/><img src="{{ url_for('static', filename='img/logo2.png') }}" height="40" width="175" id="logo2"/></div><span class="text align-middle"></span></a>
            <a id="sidebarToggle" href="javascript:;" class="nav-toggle d-none d-sm-none d-md-none d-lg-block"><i data-toggle="expanded" class="ft-toggle-right toggle-icon"></i></a>
            <a id="sidebarClose" href="javascript:;" class="nav-close d-block d-md-block d-lg-none d-xl-none"><i class="ft-x"></i></a>
        </div>
    </div>
    <!-- Sidebar Header Ends-->
    <!-- / main menu header-->
    <!-- main menu content-->
    <div class="sidebar-content">
        <div class="nav-container">
            <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                <li class="nav-item"><a href="/admin"><i class="icon-home"></i><span class="menu-title">Dashboard</span></a></li>
                <li class="has-sub nav-item"><a href="#"><i class="ft-search"></i><span data-i18n="" class="menu-title">Search</span></a>
                    <ul class="menu-content">
                        <li><a href="/searchInfluencers"><i class="icon-fire"></i><span data-i18n="" class="menu-title">Influencers</span></a>
                        </li>
                        <li ><a href="#"><i class="icon-badge"></i><span data-i18n="" class="menu-title">Classified Ads</span></a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub nav-item"><a href="#"><i class="icon-user"></i><span data-i18n="" class="menu-title">Profile</span></a>
                    <ul class="menu-content">
                        <li ><a href="/profileView"><i class="icon-eyeglasses"></i><span data-i18n="" class="menu-title">View Profile</span></a>
                        </li>
                        <li ><a href="/editProfile"><i class="icon-pencil"></i><span data-i18n="" class="menu-title">Edit Profile</span></a>
                        </li>

                    </ul>
                </li>
                <li class="has-sub nav-item"><a href="#"><i class="icon-envelope"></i><span data-i18n="" class="menu-title">Messages</span></a>
                    <ul class="menu-content">
                        <li ><a href="/inbox/0"><i class="icon-envelope-open"></i><span data-i18n="" class="menu-title">Inbox</span></a>
                        </li>
                        <li ><a href="/compose"><i class="icon-pencil"></i><span data-i18n="" class="menu-title">Compose</span></a>
                        </li>
                        <li ><a href="/sent"><i class="icon-share-alt"></i><span data-i18n="" class="menu-title">Sent</span></a>
                        </li>
                        <li ><a href="/deleted"><i class="icon-trash"></i><span data-i18n="" class="menu-title">Deleted</span></a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub nav-item"><a href="#"><i class="fa fa-handshake-o"></i><span data-i18n="" class="menu-title">Partnerships</span></a>
                    <ul class="menu-content">
                        <li ><a href="/influencerFavoritesList"><i class="icon-heart"></i><span data-i18n="" class="menu-title">Favorites</span></a>
                        </li>
                        <!--<li ><a href="#" class="menu-item">Watchlist</a>-->
                        <!--</li>-->
                    </ul>
                </li>

                <li class="has-sub nav-item"><a href="#"><i class="icon-trophy"></i><span data-i18n="" class="menu-title">Campaigns</span></a>
                    <ul class="menu-content">
                        <li ><a href="/viewCampaigns"><i class="icon-trophy"></i><span data-i18n="" class="menu-title">All Campaigns</span></a>
                        </li>
                        <li ><a href="/calenderView"><i class="icon-notebook"></i><span data-i18n="" class="menu-title">Calender View</span></a>
                        </li>
                        <li ><a href="/addCampaign"><i class="icon-pencil"></i><span data-i18n="" class="menu-title">New Campaign</span></a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub nav-item"><a href="#"><i class="icon-badge"></i><span data-i18n="" class="menu-title">Classified Ads</span></a>
                    <ul class="menu-content">
                        <li ><a href="/viewAllClassifiedAds"><i class="icon-badge"></i><span data-i18n="" class="menu-title">All Classified Ads</span></a>
                        </li>
                        <li ><a href="/addClassified"><i class="icon-pencil"></i><span data-i18n="" class="menu-title">New Classified Ad</span></a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub nav-item"><a href="#"><i class="icon-graph"></i><span data-i18n="" class="menu-title">Analytics(Coming Soon)</span></a>
                    <ul class="menu-content">
                        <!--<li ><a href="#" class="menu-item"><p class="purple small"><p/></a>-->
                        <!--</li>-->
                        <!--<li ><a href="#" class="menu-item">Watchlist</a>-->
                        <!--</li>-->
                    </ul>
                </li>
                <li class="has-sub nav-item"><a href="#"><i class="icon-wallet"></i><span data-i18n="" class="menu-title">Payment</span></a>
                    <ul class="menu-content">
                        <li><a href="/addFundsBrands"><i class="icon-plus"></i><span data-i18n="" class="menu-title">Add Funds</span></a>
                        </li>
                        <li ><a href="/viewMyPayments"><i class="icon-eyeglasses"></i><span data-i18n="" class="menu-title">View Funds</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- main menu content-->
    <div class="sidebar-background"></div>
    <!-- main menu footer-->
    <!-- include includes/menu-footer-->
    <!-- main menu footer-->
</div>
<!--<script>-->
<!--$(document).ready(function(){-->
<!--$('.navbar-toggle').click(function(){-->
<!--// $('.app-sidebar').slidein({"margin-left": "0px"}).show();-->
<!--$('.app-sidebar').toggle("slide").show();-->
<!--});-->
<!--});-->
<!--</script>-->

<!--<script>-->
<!--$(document).ready(function(){-->
<!--$('#sidebarClose').click(function(){-->
<!--// $('.app-sidebar').slidein({"margin-left": "0px"}).show();-->
<!--$('.app-sidebar').toggle("slide").hide();-->
<!--});-->
<!--});-->
<!--</script>-->

<!--<script>-->
<!--$(document).ready(function(){-->
<!--$('#sidebarToggle').click(function(){-->
<!--// $('.app-sidebar').slidein({"margin-left": "0px"}).show();-->
<!--$('.app-sidebar').toggle("slide").show();-->
<!--});-->
<!--});-->
<!--</script>-->