{% extends 'layout.html' %}
{{ super() }}
{% block body %}
<div class="row login">

    <div class="col s6 l4 offset-l4">
        <div class="card">
            <div class="card-action white white-text">
                <img src="/static/img/logo.png" class="responsive-img">
            </div>
            <div class="card-content">
                <form id="email" name="brand_register" method="POST" action="/resetemail">
                <div class="form-field">
                    <input type="email" id="email" name="reset_email" class="validate" placeholder="Enter E-mail" required>
                </div>
                <div class="form-field center-align">
                    <button class="waves-effect waves-light btn-small purple hoverable" type="submit" style="margin-top: 15px; border-radius: 7px; font-weight: 500;" onclick="return check('reset_email')">Send Confirmation Link</button>
                </div>
                </form>
                <!--<div class="form-field center-align">

                    <a href="/loginLinkedin" class="waves-effect waves-light btn social linkedin blue hoverable">Sign in With LinkedIN</a>
                </div>-->
            </div>
        </div>
    </div>

</div>

{% endblock %}