{% extends 'dashboard_layout_new.html' %}
{{ super() }}
{% block body %}

<!--Basic User Details Starts-->
<section id="user-profile">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row" style="margin:2%;">
                        <div class="col-xl-2 col-lg-2 col-md-2 mb-1">
                            {% if data['data']['profile_pic'] %}
                            <img id="profile_pic" src="static/img/{{ data['data']['profile_pic'] }}" class="rounded-circle img-border gradient-summer width-150" alt="Card image">
                            {% else %}
                            <img id="profile_pic" src="static/app-assets/img/portrait/avatars/avatar-08.png" class="rounded-circle img-border gradient-summer width-150" alt="Card image">
                            {% endif %}
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 mb-1">
                            <form name="avtar_form" method="POST" action="/uploadProfilePic" enctype=multipart/form-data>
                            <div class="row" style="padding-top:10%;">
                                <div class="file-field input-field">
                                <!--<form id="form1" runat="server">-->
                                    <input type='file' id="profile_pic_fileinp" name="profile_pic" style="display:block;"/><br>
                                    <button id="save_profile_pic" type="submit" class="btn btn-sm btn-info" style="display:none;">Save</button>
                                    <!--<img id="blah" src="#" alt="your image" />-->
                                </div>
                            </div>
                            </form>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 mb-1">
                            <p class="grey font-small-3" style="font-size:20px;">Social Media Accounts:</p>
                            <a href="{{ data['data']['facebook_url'] }}" target="_blank" class="fa fa-facebook grey" title="facebook" style="font-size:40px; padding-right:10px;"></a>
                            <a href="{{ data['data']['twitter_url'] }}" target="_blank" class="fa fa-twitter grey" title="twitter" style="font-size:40px; padding-right:10px;"></a>
                            <a href="{{ data['data']['insta_url'] }}" target="_blank" class="fa fa-instagram grey " title="instagram" style="font-size:40px; padding-right:10px;"></a>
                            <a href="{{ data['data']['youtube_url'] }}" target="_blank" class="fa fa-youtube grey" title="youtube" style="font-size:40px;"></a>
                            <a href="#" target="_blank" class="fa fa-plus grey" title="plus" style="font-size:40px;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Basic User Details Ends-->

<!--About section starts-->
<section id="about">
    <form action="/updateProfile" method="POST">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Personal Information</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <div class="row" style="margin-left: 2%;">
                                <div class="col-xl-6 col-lg-6 col-md-6 mb-1">
                                    <div class="row" style="margin-bottom: 5px;">
                                        <span class="display-block overflow-hidden">
                                            <label for="first_name">*First Name:</label>
                                            <input type="text" required class="form-control" id="first_name" name="first_name" value="{{data['data']['first_name']}}" style="width:400px;"> </span>
                                    </div>
                                    <div class="row" style="margin-bottom: 5px;">
                                        <span class="display-block overflow-hidden">
                                            <label for="last_name">*Last Name</label>
                                            <input type="text" required name="last_name" id="last_name" class="form-control" value="{{data['data']['last_name']}}" style="width:400px;"> </span>
                                    </div>
                                    <div class="row" style="margin-bottom: 5px;">
                                        <span class="display-block overflow-hidden">
                                            <label for="firm">Firm</label>
                                            <input type="text" name="firm" id="firm class="form-control" value="{{data['data']['position']}}" placeholder="Firm" style="width:400px;"> </span>
                                    </div>
                                    <div class="row" style="margin-bottom: 5px;">
                                        <span class="display-block overflow-hidden">
                                            <label for="category">*Category:</label>
                                            <input type="text"id="category" name="category" class="form-control" value="{{data['data']['city']}}" placeholder="Category(max 3)" style="width:400px;"> </span>
                                    </div>
                                    <div class="row" style="margin-bottom: 5px;">
                                        <span class="display-block overflow-hidden">
                                            <label for="city">City:</label>
                                            <input type="text"id="city" name="city" class="form-control" value="{{data['data']['city']}}" placeholder="City" style="width:400px;"> </span>
                                    </div>
                                    <div class="row" style="margin-bottom: 5px;">
                                        <span class="display-block overflow-hidden">
                                            <label for="media">*Social Media:</label>
                                            <input type="text"id="media" name="media" class="form-control" value="{{data['data']['city']}}" placeholder="Social Media Accounts" style="width:400px;"> </span>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 mb-1">
                                    <div class="row" style="margin-bottom: 5px;">
                                        <span class="display-block overflow-hidden">
                                            <label for="email">*Business Email</label>
                                            <input type="email" disabled class="form-control" id="email" value="{{data['data']['email_id']}}" style="width:400px;"> </span>
                                    </div>
                                    <div class="row" style="margin-bottom: 5px;">
                                        <a class="display-block overflow-hidden">
                                            <label for="phone">Phone</label>
                                            <input type="text" name="phone" id="phone" class="form-control" value="{{data['data']['phone']}}" placeholder="Phone" style="width:400px;"> </a>
                                    </div>
                                    <div class="row" style="margin-bottom: 5px;">
                                        <a class="display-block overflow-hidden">
                                            <label for="url">URL:</label>
                                            <input type="url" id="url" required name="url" class="form-control" value="{{data['data']['url']}}" placeholder="Title" style="width:400px;"> </a>
                                    </div>
                                    <div class="row" style="margin-bottom: 5px;">
                                        <span class="display-block overflow-hidden">
                                            <label for="country">*Country</label>
                                            <input type="text" id="country" required name="country" class="form-control" value="{{data['data']['country']}}" placeholder="Country" style="width:400px;"> </span>
                                    </div>
                                    <!--<div class="row" style="margin-bottom: 5px;">-->
                                    <!--<span class="display-block overflow-hidden">-->
                                    <!--<label for="password">*Password</label>-->
                                    <!--<input type="text" id="password" required name="password" class="form-control" value="" style="width:400px;"> </span>-->
                                    <!--</div>-->
                                    <div class="row" style="margin-bottom: 5px;">
                                        <span class="display-block overflow-hidden">
                                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#change_pass_modal">Change Password</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success" style="margin-left:45%; padding-left:15px; padding-right:15px;">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<!-- Change passowrd Modal -->
<div class="modal fade" id="change_pass_modal" role="dialog" data-backdrop="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <b class="modal-title">Change Password</b>
                <button  type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form name="change_password_form" id="change_password_form" action="/changePassword" method="POST">
                <div class="modal-body">
                    <!--<input class="form-control" required type="text" name="old_password" id="old_password" placeholder="Old Password"><br>-->
                    <input class="form-control" required type="password" name="new_password" id="new_password" placeholder="New Password"><br>
                    <input class="form-control" required type="password" name="con_new_password" id="con_new_password" placeholder="Confirm New Password">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" onclick="return check('change_password_form','new_password','con_new_password')">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script charset="utf-8" type="text/javascript">
        function check(Form_Name, password,confirm_password)
        {
            var pass1 = document.getElementById(password).value;
            var pass2 = document.getElementById(confirm_password).value;
            <!--alert(pass1);-->
            if(pass2 != pass1){
                <!--M.toast({html: 'Password Doesnt Match.'})-->
                alert("Password Doesnt Match")
                return false;
            }
        }
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                $('#profile_pic').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
</script>

<style>


</style>
{% endblock %}