{% extends 'layout.html' %}
{{ super() }}
{% block body %}
<title xmlns="http://www.w3.org/1999/html">{{title}}</title>
<!--
<div class="row login">
    <div class="col s12 l4 offset-l4">
        <div class="card">
            <div class="card-action red white-text">
                <h3>Login</h3>
            </div>
            <div class="card-content">
                <div class="form-field">
                    <label for="username">Username</label>
                    <input type="text" id="username">
                </div><br/>
                <div class="form-field">
                    <label for="password">Password</label>
                    <input type="password" id="password">
                </div><br/>
                <div class="form-field center-align">
                    <button class="btn-large red hoverable">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<style>
.cardheight{
    min-height: 420px !important;
}


</style>


<div class="row login">
    <div class="col s12 l4 offset-l4">
        <div class="card">
            <div class="card-action white white-text">
                <img src="/static/img/logo.png" class="responsive-img">
            </div>
            <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#brand">Brand</a></li>
                <li class="tab col s6"><a href="#influencer">Influencer</a></li>
            </ul>

            <div id="brand" class="card-content cardheight">
                <form method="POST" action="/login">
                    <div class="form-field">
                        <input type="email" id="email" name="email" class="validate" required placeholder="Email" style="border-radius:7px; height:35px;">
                    </div>
                    <br/>
                    <div class="form-field">
                        <input type="password" id="password" name="password" class="validate" required placeholder="Password" style="border-radius:7px; height:35px;">
                    </div>
                    <br>
                    <div class="form-field">
                        <label>
                            <input type="checkbox" class="filled-in"/>
                            <span>Remember me</span>
                        </label>
                    </div>
                    <br>
                    <div class="form-field center-align">
                        <button class="btn-small purple hoverable" type="submit" name="brand" style="width:250px; border-radius:7px; color:#F7DC6F; background-color: #C39BD3; font-weight: 500; ">Log In</button>
                    </div>
                </form>
                <br/>
                <div class="divider"></div>
                <br>
                <div class="center-align"><a class="white-text" href="/forgotPassword">Forgot Password?</a></div>
                <br>
                <div class="white-text center-align">Dont have an Account yet ?</div>
                <br>
                <div class="center-align">
                    <a class="btn-small green hoverable" href="/registerBrand" style="color:white; font-weight:500; width:250px; border-radius:7px; background-color: #C39BD3; ">Free Registration</a>
                </div>
            </div>
            <div id="influencer" class="card-content">
                <form method="POST" action="/login">
                    <div class="form-field">
                        <input type="text" id="inf_email_id" class="validate" required placeholder="Username" style="border-radius:7px; height:35px;">
                    </div>
                    <br/>
                    <div class="form-field">
                        <input type="password" id="inf_password" class="validate" required placeholder="Password" style="border-radius:7px; height:35px;">
                    </div>
                    <br/>
                    <div class="form-field center-align">
                        <!--<button class="btn-small purple hoverable" type="submit" name="influencer">Login</button>-->

                    </div>
                </form>

                <br/>
                <div class="center-align">
                    <button class="btn-small purple hoverable" onclick="login()" id="login" style="color:#F7DC6F; background-color: #C39BD3; width:250px; font-weight: 500; border-radius:7px; ">Log In </button>
                    <!--<div class="center-align">-->
                    <!--<a class="btn-small red hoverable" href="/registerInfluencer">Sign up</a>-->
                    <!--</div>-->
                    <br/>
                    <br />
                    <hr>
                    <br/>
                    <div class="white-text center-align">Or Sign in via</div>
                    <br/>
                    <!--<a href="/google_login" class="waves-effect waves-light"><img src="static/img/yt_logo_rgb_light.png" class="responsive-img" height="50" width="70"></a>-->
                    <!--<a href="/twitter_login" class="waves-effect waves-light"><img src="static/img/Twitter_Social_Icon_Square_Color.png" class="responsive-img" height="20" width="30"></a>-->
                    <a href="/google_login" class="waves-effect waves-light"><img src="static/img/youtube2.png" class="responsive-img" height="55" width="45"></a>
                    <a href="/twitter_login" class="waves-effect waves-light"><img src="static/img/twitter8.png" class="responsive-img" height="50" width="40"></a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

