{% extends 'layout.html' %}
{{ super() }}
{% block body %}
<div class="row login">

    <div class="col s6 l4 offset-l4">
        <div class="card" style="width: 400px; height: 450px;">
            <div class="card-action white white-text">
                <img src="/static/img/logo.png" class="responsive-img">
            </div>
            <div class="center-align" style="margin-top: 20px">
                <b style="font-size: 20px;" class="white-text">THANK YOU!</b>
                <br>
                <br>
                <p class="white-text">Your registration has been successful</p>
                <br>
                <p class="white-text">Please check your email to activate your account.</p>
                <br>
                <div class="form-field center-align">
                    <button class="waves-effect waves-light btn-small purple hoverable" type="submit" style="margin-top: 15px; border-radius: 7px; font-weight: 500;">Resend Confirmation Link</button>
                </div>
                <div class="form-field center-align">
                    <a class="waves-effect waves-light btn-small purple hoverable" href="/" type="submit" style="margin-top: 15px; border-radius: 7px; font-weight: 500;">CONTINUE</a>
                </div>
                </form>
                <!--<div class="form-field center-align">

                    <a href="/loginLinkedin" class="waves-effect waves-light btn social linkedin blue hoverable">Sign in With LinkedIN</a>
                </div>-->
            </div>
        </div>
    </div>

</div>

{% endblock %}