{% if session['type'] == 'brand' %}
{% extends 'dashboard_layout_new.html' %}
{% elif session['type'] == 'influencer' %}
{% extends 'dashboard_layout_inf.html' %}
{% endif %}
{{ super() }}
{% block body %}
<head>
  <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea',branding:false });</script>
</head>
<div class="row email-deleted">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Compose</h5>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <form action="/sendEmail" method="POST">
                        <div class="row email-compose">
                            <div class="col-12">
                                <ul class="no-list-style">
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class=" font-small-3"></i>*To :</a></span>
                                        <span class="display-block"><input required type="text" class="form-control" name="to_email_id" > </span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class=" font-small-3"></i>*Subject :</a></span>
                                        <span class="display-block"><input required type="text" class="form-control" name="subject" > </span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class=" font-small-3"></i>Message:</a></span>
                                        <span class="display-block"><textarea class="form-control" name="message"></textarea> </span>
                                    </li>

                                    <li class="mb-2">
                                        <button class="btn btn-primary" type="submit">Send</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

